#logout2{
	float: right;
	font-size: 30px;
	text-decoration: none;
}
#logout:hover{
	text-decoration: underline;
	color: blue;
}

.eboxes{
	margin-top: -400px;
	margin-left: 100px;
}

.eboxes2{
	margin-left: 200px;
}
.iboxes{
	margin-left : 800px;
}

#next{
	margin-left: 580px;
	margin-top: 55px;
}

#back{
	margin-left: 450px;
	margin-top: -37px;

}

.nextButton2{
	margin-top: 30px;
	margin-left: 50px;
}

.tempipa{
	margin-top: 10px;
}


