#logout2{
	float: right;
	font-size: 30px;
	text-decoration: none;
}

#withdraw{
	float: right;
	font-size: 30px;
	text-decoration: none;
}
#logout:hover{
	text-decoration: underline;
	color: blue;
}

#checkTable{

	font-size: 30px;
	text-decoration: none;
}
#checkTable:hover{
	text-decoration: underline;
	color: blue;
}

.eboxes{
	margin-top: -400px;
	margin-left: 700px;
}

.eboxes2{
	margin-left: 200px;
}
.iboxes{
	margin-left : 50px;
}

#next{
	margin-left: 580px;
	margin-top: 85px;
}

#back{
	margin-left: 450px;
	margin-top: -35px;

}

.nextButton2{
	margin-top: 30px;
	margin-left: 50px;
}

.tempipa{
	margin-top: 10px;
}


