{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'try1/style.css' %}" />
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<div class="logoutButton">
	<a href="/logout/" id="logout2">Logout</a>
</div>
<div class="checkMarked">
	<a href="/displayDataAnnotatedByUser/" id="checkTable">Check Labelled Sentences So Far</a>
</div>
<br><br><br>

<div class="withdrawButton">
	<a href="/renderFeedBackForm/" id="withdraw">Withdraw from task  </a>
</div>

<title>Marking {{comment_id}}</title>
<h1>Comment {{comment_id}} </h1>
<h2>User : {{user}} Numarked : {{numMarked}}</h2>

<form action="{% url 'try1:tabulateComments' comment.id %}" method="post">
{% csrf_token %}
<textarea rows="10" cols="150" name="comment" wrap="hard">{{comment.body}}</textarea>
<p> Select at least 1 and upto max 3  labels that best describe what the user is trying to convey</p>

<div class="boxes">
<div class ="iboxes">
{% for ipa in ipaList %}
    <input type="checkbox" name="ipa" id="ipa{{ forloop.counter }}"  class="tempipa"  value="{{ forloop.counter }} " />
    <label for="ipa{{ forloop.counter }}">{{ ipa }}</label><br />
{% endfor %}
</div>
<br/><br/>
<div class="eboxes">
<p>Select max 3 emotions that the person might have had while writing the comment</p>

{% for emotion in emotions %}
    <input type="checkbox" name="emotion" id="emotion{{ forloop.counter }}" class ="eboxes2" value="{{ forloop.counter }}" />
    <label for="emotion{{ forloop.counter }}">{{ emotion }}</label><br />
{% endfor %}
</div>
</div>
<br><br><br><br>
<input type="submit" value="Submit and Next comment" id="next"/>
</form>
<form action="{% url 'try1:dpc' prevComment %}"  method="get" id="form2">
  <input type="submit" value="Previous comment" id="back"/>
</form>

<div class="nextButton2">
<form action="{% url 'try1:nextCommentWithoutSubmitting' comment.id %}" method="get" id="form3">
  <input type="submit" value="Next comment without Submitting" id="back"/>
</form>
</div>


