{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'try1/style3.css' %}" />

<center>
<body>
<h1> Multi Label Classification of Github comments</h1>


</center>


<h3><p><strong> Please note that further registration to this HIT has been closed. Currently we have the required number of people working on the HIT.</strong></p></h3>
<p>
Thanks for agreeing to take part in the project.

The project’s aim is to understand how conversations take place on the website Github.com.

<p>
<h3> Pre Requisite knowledge required before doing the task </h3>
<strong>
You should have at some  basic programming background in any language.
Ideally you should be aware what Github.com(https://github.com/) is. 
You should be aware what code segments are and should be able to recognize that a given line is a piece of code rather than a normal sentence.
</strong>
</p>



Github is like a social network for programmers. For example on Facebook or twitter , people post their pictures and other people comment on them. On Github people post their segments of code , and other people comment on
<ul>
<li>how good/bad 	the code is, 		</li>
<li>If the code 	does not work , people suggest ways on how to make it work</li>
</ul>



Here the data set we are dealing is from such interactions. People commenting on other people’s code.

Consider this , if you send a FRIEND REQUEST to someone on Facebook , the other person would have to ACCEPT it.
Github operates in a similar manner. Instead of friend requests, people send other people something called a PULL REQUEST (which is basically a couple of lines of code ) . On Facebook the friend request is accepted, on Github the Pull Request gets MERGED ( which means that other people have accepted the code you have written).

In all the sentences in this project, one person sends a piece of code (a.k.a. pull request ) in hopes of getting it merged (a.k.a accepted) . Other people comment on the piece of code explaining what needs to be done to improve the code in order to get it merged.

We would want you to label the sentences in the following 2 categories and remove any unnecessary lines of code in the sentence :

<div class="task1">
<h3><strong><u>Task 1:</u> </strong></h3>
<p>
First category consists of the following 12 subcategories . The words in the brackets in the bracket signifies type of behaviour portrayed in the sentence. You have to select at least 1 and a maximum of 3 sub categories for each sentence.
<ul>
<li> Shows Solidarity (help, compliment, gratify) </li>
<li> Shows tension release	(josh, laugh with, cheer)</li>
<li> Agrees (agree 	with, understand,accommodate )</li>
<li> Gives Suggestion (encourage, cue, coach)</li>
<li> Gives opinion (evaluate, analyze, entreat)</li>
<li> Gives orientation (inform, educate, explain)</li>
<li> Asks for orientation (quiz, question, ask about)	</li>
<li> Asks for opinion (consult, prompt, query)	</li>
<li> Asks for suggestion (entreat, ask, beseech)	</li>
<li> Disagrees 	(disagree with, ignore, hinder)</li>
<li> Shows Tension 	(fear, cajole, evade)</li>
<li> Shows Antagonism (argue with, deride, defy)</li>
</ul>
</p>
</div>

<div class="task2">
<h3><strong><u>Task 2:</u> </strong></h3>
<p>
The second category is the kind of emotion displayed by the person writing the comment. Again there are 10 different categories. You have to select at least 1 and a maximum of 3 emotions for each sentence.
<ul>	
<li>Thanks</li>
<li>Sorry</li>
<li>Calm </li>
<li>Nervous	</li>
<li>Careless </li>
<li>Cautious </li>
<li>Aggressive </li>
<li>Defensive</li>
<li>Happy</li>
<li>Angry</li>
</ul>
</p>
</div>

<div class="task3">
<h3><strong><u>Task 3:</u> </strong></h3>
<p>
Removing  unnecessary lines of code. In the website, the section where the sentence is displayed, you are allowed to modify the sentence. 
If you come across any unnecessary lines of code ( which can be identified as anything not written in english ), you can simple use the backspace key to erase those. 
<strong> A segment of code can be identified as a sequence of words that do not seem to be a valid english sentence. Such sequence of words should be erased by simply pressing the backspace key or by selecting that portion of text with a mouse and then pressing backspace key or delete key. Any line of the sentence that seem rather irrelevant to the classificaton of the sentence into the specified categories should be removed.</strong>

For example for the sentence 
<p><i> 	 	
Added test to ensure single class is passed. Multiple classes gave false positive.
e.g.
 &lt; div id="id" class="class class2"&gt;&lt;/div&gt;
$("#id").hasClass("class class2") => false
</i>
</p>

The latter part of the sentence is all code, you should erase that so that the sentence becomes 

<p><i>	 	 	
Added test to ensure single class is passed. Multiple classes gave false positive.
</i>
</p>

<div class="Instructions">
<h3><strong><u>Instructions on how to label a sentence.</u> </strong></h3>
<p>

You do not have to understand what exactly is going on in a sentence. Since , each comment can involve a lot of programming dependent terminology. The way to label the sentences is as follows :

Looks for a sequence of words would describe what the person did :
For example :

<p> <strong> Example 1 </strong></p>
<p>
<i>
fallback for wildcard since there is no support to remove all classes and another loop didn't seem to make sense... there is an issue with the wildcard (existing) where removeClass("*") gives invalid argument error.
</i>
</p>

The above sentence is a bit hard to label in the 2 categories. The way to proceed is to look for a sequence of words that describe what the person did or is trying to convey:
<p><i>
fallback for wildcard since there is no support to remove all classes and another loop didn't seem to make sense...<b> there is an issue with the</b> wildcard (existing) where removeClass("*") <b>gives invalid argument error.</b>
</i>
</p>

The bold part of the sentence, signifies that the person is trying to convey that there is some issue which gives a error.
Now based on this bolded part, you have to label in the 2 categories.

In the first category you could choose : <i>Disagrees , Shows antagonism</i>
For the emotion you could choose : <i>Aggressive</i>

</p>
<p> <strong> Example 2 </strong>
<p><i><b>I think you might need to</b> prefix the string with ^ like above, because of some other processing we do later on the chain with error messages.</i></p>

The first category could be :<i> Gives opinion</i>


The second category could be <i>Cautious , Defensive</i>
</p>

<p> <strong> Example 3 </strong>
<p><i><b>I'd like to keep the </b>YourKit stuff <b>out of the</b> oae module.
You can deliver a custom setenv.sh.erb template via the setenv_template param to oae::app::server 

If you add the YK java arguments to localconfig/templates/oae-setenv.sh.erb then the oae module</i></p>

The first category could be :<i> Gives orientation, Shows Antagnism,DisAgrees.</i>

The second category could be <i>Agressive , Defensive</i>
</p>

<p> <strong> Example 4 </strong>
<p><i><b>Yep, you are right,</b> the problem is that we don't know if more headers have been added.
<n>Another option is to </b>create a 'refresh' method and call it from outside every time a new header is created/removed.
<b>Makes sense for me.</b></i></p>

The first category could be :<i> Shows solidarity, Agrees, Gives suggestion</i>

The second category could be <i>Thanks, Calm</i>
</p>

<p> <strong> Example 5 </strong>
<p><i><b>good catch, thought i got everything.</b>

On Thu, Aug 9, 2012 at 12:21 PM, Greg Sadowski <notifications@github.com>wrote:

> In GroupCommerce.SDK.V3.PublisherConsumerApp/Form1.Designer.cs:
>
> > @@ -812,6 +860,12 @@ private void InitializeComponent()
</i></p>

<p>Since the above comment has some unncessary code (and one not required line), you should simply remove it. So the sentence now becomes</p>
<p><i><b>good catch, thought i got everything.</b>

</i></p>
The first category could be :<i> Shows solidarity, Agrees</i>

The second category could be <i>Thanks</i>
</p>

<p> <strong> Example 6 </strong>
<p><i><b>I agree with Brad;</b> either the *complete* experience, or an unadorned page-refreshing experience. <b>I think a partially-working </b> automatic filter would be confusing. On 9 Aug 2012, at 17:02, Bradley Wright &lt;notifications@github.com&gt; wrote: &gt; In app/asse
</i></p>

<p>Since the above comment has some unncessary code (and one not required line), you should simply remove it. So the sentence now becomes</p>
<p><i><b>I agree with Brad;</b> either the *complete* experience, or an unadorned page-refreshing experience. <b>I think a partially-working </b> automatic filter would be confusing. 
</i></p>
The first category could be :<i> Agrees ,Gives Opinion ,Gives Orientation</i>

The second category could be <i> Thanks , Calm</i>
</p>

</div>
</p>

<p><strong> Please note that this HIT does not collect any personal information. The Register link down below only requires a username and password just to keep track of the web sessions</strong></p>

<h4> <strong> Information and Consent letter</strong> </h4>
<p>
You are invited to participate in a research study conducted by Deepak Rishi, under the supervision of Prof. Jesse Hoey of the University of Waterloo, Canada. The objectives of the research study are is to classify comments from Github into certain categories.
You should have some programming experience (in any language) to take part in this study. People without programming experience will not produce the necessary results. If you do not have programming experience, please do not continue with this HIT.
</p>
<br>
<p>
If you decide to volunteer, you will be asked to complete a online survey  that is completed anonymously.   Participation in this study is voluntary. There are no known or anticipated risks from participating in this study. 
The online suvey is completed in 2 parts. The first 20 sentences are a screening test. Once you finish marking the first 20 sentences and the results are in accordance to what we expect, you will be given the HIT code and an option to continue on to the 3000 sentences. Please note that you would be given the HIT code, regardless of fact that you get the option to continue on to the next 3000 sentences. You will be paid 7 cents per sentence annotated, or $1.40 for completing all sentences in the screening test. 
</p>
<br>
<p>
Once we have the required number of people to do the task, further registration to this HIT would be closed.  The register tab on the website will no longer be visible. This will also  be indicated at the top of the website. Please do not attempt to continue with this HIT at that point. 

</p>
<br>
<p>
At any point you may logout and continue the work at a later time. If you have already passed the screening , you will not be required to mark the first 20 again. You would continue from where you left off.
</p>
<br>
<p>
It is important for you to know that any information that you provide will be confidential. All of the data will be summarized and no individual could be identified from these summarized results. Furthermore, the web site is programmed to collect responses alone and will not collect any information that could potentially identify you (such as machine identifiers).
You will be paid 7 cents per sentence annotated. We expect that each sentence will take about 25-30 seconds to complete. A person with some programming experience can complete about 120 sentences in one hour. After you have annotated 50-60 sentences, 
your speed for annotation would increase and you would be able to to annotate a sentence in about 15-20 seconds.
In addition, reading the instructions and becoming familiar with the tasks for the first few sentences will take  approximately 10 minutes. We hope that each participant will complete 3000 sentences. From the moment you start the task , you would have 120 hours to complete the task.  You can take breaks in between. As mentioned earlier , at any point you can logout and when you login back, you will be continued form the point you left off . We hope that each participant who passes the screening test will complete 3000 sentences.   
</p>
<br>
<p>
If you choose to withdraw from the study, you can click on the get HIT code button and submit the code on Mechanical turk. You would be given the payment as a bonus payment at the rate  of 7 cents a sentence.
If you wish to participate, please visit the  website mentioned below.
The data, with no personal identifiers, collected from this study will be maintained on a password-protected computer database in a restricted access area of the university. As well, the data will be electronically archived after completion of the study and maintained for two years and then erased.
Further instructions on how to start the survey and examples sentences from Github are mentioned in the homepage of the link given below.
</p>
<br>
<p>
This study has been reviewed and received ethics clearance through a University of Waterloo Research Ethics Committee (ORE # 22117). If you have questions for the Committee contact the Chief Ethics Officer, Office of Research Ethics, at 1-519-888-4567 ext. 35217 or ore-ceo@uwaterloo.ca. </p>
<br>
<p>
For all other questions about the study, please contact (deerishi@gmail.com) Further, if you would like to receive a copy of the results of this study, please contact either investigator.
Thank you for considering participation in this study.
</p>
<br>
<p>
<strong>
Consent to Participate</strong>

By clicking on the register/login on the homepage of the survey  link given below you agree  of your own free will, to participate in this study. 
By providing consent, you are not waiving your legal rights or releasing the investigator(s) or involved institution(s) from their legal and professional responsibilities.

</p>
<br>




<center>
	<div class="options">
<a href="/login/" id="loginOp">Login</a>
<a href="/register/" id="registerOp">Register</a>

</center>





</body>